body {
    font-family: sans-serif;
    padding: 2rem;
    background: #f5f6fa;
  }
  
  input, button {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  .boton_pagar {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #0984e3;
    border-radius: 3px;
    display: inline-block;
    margin-top: 1rem;
  }
  